@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&family=Raleway:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
}

/*Colores*/
/*Lineas*/
/*Tipografias*/
header {
  background-color: #9641e5;
  margin: 0px;
  z-index: 1;
  position: sticky;
  top: 0px;
  width: 100%;
}
header h1 {
  font-family: "Salsa", cursive;
  background-color: #9641e5;
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
header .collapse {
  justify-content: end;
  margin-right: 20px;
}
header .collapse .navbar {
  color: white;
  text-decoration: none;
  list-style: none;
}
header .collapse .navbar .nav-item {
  font-family: "Nunito", sans-serif;
  color: white;
  margin-right: 10px;
  margin-left: 10px;
}

h1 {
  font-family: "Salsa", cursive;
  background-color: blueviolet;
}

/*Colores*/
/*Lineas*/
/*Tipografias*/
#nosotros {
  font-family: "Ubuntu", sans-serif;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
}
#nosotros .p-nosotros {
  margin-left: 30px;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}

/*Colores*/
/*Lineas*/
/*Tipografias*/
#servicios {
  margin-left: 10px;
}
#servicios .reiki, #servicios .tarot, #servicios .astrologia {
  margin-top: 40px;
  margin-bottom: 40px;
}
#servicios .reiki .p-reiki, #servicios .reiki .p-tarot, #servicios .reiki .p-astrologia, #servicios .reiki .p-nosotros, #servicios .tarot .p-reiki, #servicios .tarot .p-tarot, #servicios .tarot .p-astrologia, #servicios .tarot .p-nosotros, #servicios .astrologia .p-reiki, #servicios .astrologia .p-tarot, #servicios .astrologia .p-astrologia, #servicios .astrologia .p-nosotros {
  margin-left: 30px;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}
#servicios .reiki .p-reiki img, #servicios .reiki .p-tarot img, #servicios .reiki .p-astrologia img, #servicios .reiki .p-nosotros img, #servicios .tarot .p-reiki img, #servicios .tarot .p-tarot img, #servicios .tarot .p-astrologia img, #servicios .tarot .p-nosotros img, #servicios .astrologia .p-reiki img, #servicios .astrologia .p-tarot img, #servicios .astrologia .p-astrologia img, #servicios .astrologia .p-nosotros img {
  display: flex;
  justify-content: center;
  width: 80%;
  background-color: white;
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 10px;
}
#servicios .reiki .p-reiki .title-reiki, #servicios .reiki .p-reiki .title-tarot, #servicios .reiki .p-reiki .title-astrologia, #servicios .reiki .p-reiki .title-nosotros, #servicios .reiki .p-tarot .title-reiki, #servicios .reiki .p-tarot .title-tarot, #servicios .reiki .p-tarot .title-astrologia, #servicios .reiki .p-tarot .title-nosotros, #servicios .reiki .p-astrologia .title-reiki, #servicios .reiki .p-astrologia .title-tarot, #servicios .reiki .p-astrologia .title-astrologia, #servicios .reiki .p-astrologia .title-nosotros, #servicios .reiki .p-nosotros .title-reiki, #servicios .reiki .p-nosotros .title-tarot, #servicios .reiki .p-nosotros .title-astrologia, #servicios .reiki .p-nosotros .title-nosotros, #servicios .tarot .p-reiki .title-reiki, #servicios .tarot .p-reiki .title-tarot, #servicios .tarot .p-reiki .title-astrologia, #servicios .tarot .p-reiki .title-nosotros, #servicios .tarot .p-tarot .title-reiki, #servicios .tarot .p-tarot .title-tarot, #servicios .tarot .p-tarot .title-astrologia, #servicios .tarot .p-tarot .title-nosotros, #servicios .tarot .p-astrologia .title-reiki, #servicios .tarot .p-astrologia .title-tarot, #servicios .tarot .p-astrologia .title-astrologia, #servicios .tarot .p-astrologia .title-nosotros, #servicios .tarot .p-nosotros .title-reiki, #servicios .tarot .p-nosotros .title-tarot, #servicios .tarot .p-nosotros .title-astrologia, #servicios .tarot .p-nosotros .title-nosotros, #servicios .astrologia .p-reiki .title-reiki, #servicios .astrologia .p-reiki .title-tarot, #servicios .astrologia .p-reiki .title-astrologia, #servicios .astrologia .p-reiki .title-nosotros, #servicios .astrologia .p-tarot .title-reiki, #servicios .astrologia .p-tarot .title-tarot, #servicios .astrologia .p-tarot .title-astrologia, #servicios .astrologia .p-tarot .title-nosotros, #servicios .astrologia .p-astrologia .title-reiki, #servicios .astrologia .p-astrologia .title-tarot, #servicios .astrologia .p-astrologia .title-astrologia, #servicios .astrologia .p-astrologia .title-nosotros, #servicios .astrologia .p-nosotros .title-reiki, #servicios .astrologia .p-nosotros .title-tarot, #servicios .astrologia .p-nosotros .title-astrologia, #servicios .astrologia .p-nosotros .title-nosotros {
  margin-top: 10px;
  margin-bottom: 10px;
}
#servicios .reiki .p-reiki .text-reiki, #servicios .reiki .p-reiki .text-tarot, #servicios .reiki .p-reiki .text-astrologia, #servicios .reiki .p-tarot .text-reiki, #servicios .reiki .p-tarot .text-tarot, #servicios .reiki .p-tarot .text-astrologia, #servicios .reiki .p-astrologia .text-reiki, #servicios .reiki .p-astrologia .text-tarot, #servicios .reiki .p-astrologia .text-astrologia, #servicios .reiki .p-nosotros .text-reiki, #servicios .reiki .p-nosotros .text-tarot, #servicios .reiki .p-nosotros .text-astrologia, #servicios .tarot .p-reiki .text-reiki, #servicios .tarot .p-reiki .text-tarot, #servicios .tarot .p-reiki .text-astrologia, #servicios .tarot .p-tarot .text-reiki, #servicios .tarot .p-tarot .text-tarot, #servicios .tarot .p-tarot .text-astrologia, #servicios .tarot .p-astrologia .text-reiki, #servicios .tarot .p-astrologia .text-tarot, #servicios .tarot .p-astrologia .text-astrologia, #servicios .tarot .p-nosotros .text-reiki, #servicios .tarot .p-nosotros .text-tarot, #servicios .tarot .p-nosotros .text-astrologia, #servicios .astrologia .p-reiki .text-reiki, #servicios .astrologia .p-reiki .text-tarot, #servicios .astrologia .p-reiki .text-astrologia, #servicios .astrologia .p-tarot .text-reiki, #servicios .astrologia .p-tarot .text-tarot, #servicios .astrologia .p-tarot .text-astrologia, #servicios .astrologia .p-astrologia .text-reiki, #servicios .astrologia .p-astrologia .text-tarot, #servicios .astrologia .p-astrologia .text-astrologia, #servicios .astrologia .p-nosotros .text-reiki, #servicios .astrologia .p-nosotros .text-tarot, #servicios .astrologia .p-nosotros .text-astrologia {
  margin-top: 10px;
}

/*Colores*/
/*Lineas*/
/*Tipografias*/
#contactate {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#contactate form {
  padding: 50px 55px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  width: 470px;
}
#contactate .input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}
#contactate h2 {
  color: #283629;
  font-size: 35px;
}
#contactate label {
  color: #283629;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}
#contactate input, #contactate textarea {
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: #EDFFF0;
  border: 2px solid #F0FAF1;
  color: #283629;
  outline: none;
}
#contactate input::placeholder, #contactate textarea::placeholder {
  color: #b5cab6;
}
#contactate .form-txt {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
#contactate .form-txt a {
  color: #76b2be;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
#contactate .btn {
  font-size: 16px;
  color: white;
  border: 0;
  border-radius: 25px;
  background-color: #51D94C;
  box-shadow: 0 0 20px rgba(25, 254, 0, 0.4);
  cursor: pointer;
}
#contactate .btn:hover {
  background-color: #50E048;
}

@media (max-width: 991px) {
  #contactate {
    padding: 30px;
  }
  #contactate form {
    padding: 50px 30px;
    width: 100%;
  }
  #contactate input {
    padding: 15px;
  }
}
/*Colores*/
/*Lineas*/
/*Tipografias*/
#productos {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
}
#productos h2 {
  font-family: "Ubuntu", sans-serif;
}
#productos .card {
  margin: 10px 10px 10px 10px;
}
#productos .card img {
  display: flex;
  justify-content: center;
  width: 65%;
  margin: 25px 50px 5px 50px;
}
#productos .card .card-text {
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
}

/*Colores*/
/*Lineas*/
/*Tipografias*/
footer {
  background-color: #9641e5;
  padding-top: 20px;
}
footer .redes-sociales {
  display: flex;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  list-style: none;
}
footer .redes-sociales .instagram-logo, footer .redes-sociales .facebook-logo {
  background-color: #9641e5;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
footer .copyright {
  margin-top: 10px;
  color: white;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 7px;
}
footer .botonwap img {
  width: 4%;
  position: fixed;
  right: 5px;
  bottom: 5px;
}

/*Colores*/
/*Lineas*/
/*Tipografias*/
#blogs {
  margin-left: 50px;
}
#blogs iframe {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
