@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&family=Raleway:wght@300&display=swap');
@import "variables";

footer {

    background-color: $color-header;
    padding-top: 20px;
    .redes-sociales {
        display: flex;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        list-style: none;

        .instagram-logo, .facebook-logo {
            background-color: $color-header;
            padding-right: 10px;
            padding-left: 10px;
            display: flex;
            text-align: center;
            justify-content: space-between;
        }
        

    }

    .copyright { 
        margin-top: 10px;
        color: $color-copy;
        font-family: $type-copy;
        margin-bottom: 7px;
    }    
    
    .btn-waps {
        position: fixed;
        width: 55px;
        height: 55px;
        line-height: 55px;
        right: 30px;
        bottom: 30px;
        background-color: #0df053;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
        z-index: 100;
    }

    .btn-waps:hover{
        text-decoration: none;
        background-color: #fff;
        color: #0df053;
    }
}

