@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');

header { 
    background-color: blueviolet;
    margin: 0px;

    
    h1 {
        font-family: 'Salsa', cursive;
        background-color: blueviolet;
        color: white;
        text-decoration: none;
        margin-left: 10px;
    }

    .collapse {
        justify-content: end;
        
        .navbar{
            color: white;
            text-decoration: none;
            list-style: none;

            .nav-item{
                font-family: 'Nunito', sans-serif;
                color: white;
                margin-right: 10px;
                margin-left: 10px;
                
            }
        }
    }

    
}











h1 {
    font-family: 'Salsa', cursive;
    background-color: blueviolet;
}
