@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

#servicios {
    margin-left: 10px;

    img {
            width: 5%;
            background-color: white;
    }

    .reiki, .tarot, .astrologia {
        margin-top: 40px;
        margin-bottom: 40px;

        .p-reiki, .p-tarot, .p-astrologia, .p-nosotros {
            margin-left: 30px;
            margin-top: 10px;
            font-family: 'Montserrat', sans-serif;

            .title-reiki, .title-tarot, .title-astrologia, .title-nosotros {
                margin-top: 10px;
                margin-bottom: 10px;
            }  
            
            .text-reiki, .text-tarot, .text-astrologia {
                margin-top: 10px;
            }
        }
           

    }
 
}

