
/*Colores*/
$color-header: lighten(blueviolet, 5%);
$color-footer: black;
$color-copy: white;
$color-contact: #EDFFF0;
$color-contact-bottom:#283629;
$color-letras-header:white;
$color-img-bg: white;

/*Lineas*/
$line-contact: 1px solid grey;

/*Tipografias*/
$type-contact: 'Noto Serif', serif;
$type-copy:'Open Sans', sans-serif;
$type-logo: 'Salsa', cursive;
$type-main:'Nunito', sans-serif;
$type-nos: "Ubuntu", sans-serif;
$type-title-product: "Ubuntu", sans-serif;
$type-card-product: "Raleway", sans-serif;
$type-serv: 'Montserrat', sans-serif;
