* , *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}


@import "header";
@import "nos";
@import "serv";
@import "contact";
@import "products";
@import "footer";
@import "variables";
@import "blogs"